/*INICIO ENCABEZADO*/
*{
    padding: 0;
    margin: 0;
}
body{
    font-family: Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;
    background-color: black;
    background-image:
    linear-gradient(to top, rgba(0, 0, 0, 0.8) 0, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0.8) 100%),
    url(https://assets.nflxext.com/ffe/siteui/vlv3/563192ea-ac0e-4906-a865-ba9899ffafad/ec4b6ccd-0115-4454-ac5a-59ac561452ae/BO-es-20231218-popsignuptwoweeks-perspective_alpha_website_large.jpg);    
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    inset: 0;
    
}

header{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 26px 56px;

}
 header .Logo{
    height: 37px;
    display: block;
}
header div+div{
    text-align: right;
}
header a.button{
    display: inline-block;
    background-color: #e50914;
    color: #fff;
    text-decoration: none;
    padding: 5px 15px;
    border-radius: 3px;
}
header select{
    background-color: transparent;
    color: #fff;    
    padding: 6px 0 6px 20px;
    border-radius: 3px;    
}
header div.select{
    display: inline-block;
    margin: 30px;
}

header div.select svg{
height: 20px;
fill: white;
position: absolute;
margin-top: 5px;
margin-left: 4px;
}
/*FIN ENCABEZADO*/
div.splash div.gradient{

}
